<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sh.ssm.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="sh.ssm.po.Room" >
    <id column="room_id" property="roomId" jdbcType="INTEGER" />
    <result column="home_id" property="homeId" jdbcType="INTEGER" />
    <result column="room_type" property="roomType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    room_id, home_id, room_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room
    where home_id = #{home_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room
    where room_id = #{roomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="sh.ssm.po.Room" >
    insert into room (room_id, home_id, room_type
      )
    values (#{roomId,jdbcType=INTEGER}, #{homeId,jdbcType=INTEGER}, #{roomType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="sh.ssm.po.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="homeId != null" >
        home_id,
      </if>
      <if test="roomType != null" >
        room_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="homeId != null" >
        #{homeId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="sh.ssm.po.Room" >
    update room
    <set >
      <if test="homeId != null" >
        home_id = #{homeId,jdbcType=INTEGER},
      </if>
      <if test="roomType != null" >
        room_type = #{roomType,jdbcType=INTEGER},
      </if>
    </set>
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="sh.ssm.po.Room" >
    update room
    set home_id = #{homeId,jdbcType=INTEGER},
      room_type = #{roomType,jdbcType=INTEGER}
    where room_id = #{roomId,jdbcType=INTEGER}
  </update>
</mapper>